body {
  font-family: 'Alegreya', serif;
  font-weight: 300 lighter;
  font-size: 1rem;
  height: 100%;
  color: 'white';
  font-weight: 300;
}
.nav-button {
  margin: 5px;
}
.cardButton {
  display: inline-block;
  width: 30%;
  border: none;
  background-color: rgb(52, 96, 138);
  padding: 5px 20px;
  font-size: 14px;
  margin: 1%;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.content h1 {
  font-size: 2em;
  margin-bottom: 0em;
}
.cardRecord {
  width: 30%;
  display: inline-block;
  box-shadow: 2px 2px 10px grey;
  border-radius: 1px;
  margin: 1%;
}
.image img {
  width: 100%;
}
h1 {
  font-size: 20px;
}
.title {
  text-align: center;
  padding: 0px;
}
.des {
  padding: 3px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
/*Card


button {
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}*/

/*style test*/

.dropzone {
  border: 1px solid #e5e5e5;
  margin-bottom: 40px;
}

.dropzone_box {
  width: 25%;
  height: 160px;
  padding: 10px;
  box-sizing: border-box;
}

.dropzone_box .wrap {
  background: #eaeaea;
  height: 100%;
  text-align: center;
  padding-top: 31px;
  box-sizing: border-box;
  font-size: 49px;
  background-size: contain !important;
  background-position: center center !important;
  border: 1px solid #eaeaea;
}

.fixed_header {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 300px;
}

.fixed_header thead tr {
  display: block;
}

.fixed_header thead {
  background: white;
  color: #363636;
}

.fixed_header th,
.fixed_header td {
  padding: 5px;
  text-align: left;
  width: 200px;
}

/*student lists*/
.student_fixed_header {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.student_fixed_header tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 600px;
}

.student_fixed_header thead tr {
  display: block;
}

.student_fixed_header thead {
  background: white;
  color: #363636;
}

.student_fixed_header th,
.student_fixed_header td {
  padding: 5px;
  text-align: left;
  width: 250px;
}

.buttonCardHeader {
  margin: 10px;
  margin-right: 25px;
  font-family: 'Alegreya', serif;
}

.button.buttonConfig {
  font-family: 'Alegreya', serif;
}

.button.btnConfig.is-outlined {
  border-color: #004973;
  color: #000000;
}
.button.btnConfig.is-outlined:hover {
  border-color: #004973;
  background-color: #004973;
  color: white;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  position: relative;
  display: block;
  padding: 20px;
  border: 0;
  width: 100%;
  font-family: 'Alegreya', serif;
  font-size: 1rem;
  color: #004973;
}

.select select {
  background-color: white;
  border: 1.15px solid #004973;
  font-size: 1rem;
  border-radius: 0.1rem;
  color: #363636;
  width: 17.5rem;
  height: 2.31rem;
  padding-top: 5px;
  margin-bottom: 20px;
}

.inputStyle {
  display: block;
  font-family: 'Alegreya', serif;
  width: 100%;
  font-size: 1rem;
  margin-left: auto;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.1rem;
  border: 1.15px solid#004973;
  transition: all 0.5s;
}
.inputStyleConfig {
  display: block;
  font-family: 'Alegreya', serif;
  width: 94%;
  font-size: 1rem;
  margin-left: auto;
  margin-top: 0.7rem;
  padding: 0.5rem 1.7rem;
  border-radius: 0.1rem;
  border: 1.15px solid#004973;
  transition: all 0.5s;
}

.input,
.textarea,
.select select {
  font-family: 'Alegreya', serif;
  background-color: white;
  border-color: #004973;
  border-radius: 1px;
  color: #363636;
}
.input:hover,
.textarea:hover,
.select select:hover,
.is-hovered.input,
.is-hovered.textarea,
.select select.is-hovered {
  border-color: #004973;
}
.textarea {
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
  margin-left: 0;
  width: 465px;
}

.button:hover,
.button.is-hovered {
  border-color: #004973;
  color: #363636;
}

.buttonForm {
  cursor: pointer;
  font-family: 'Alegreya', serif;
  border-radius: 0.1rem;
  margin: 5px 30px 10px 0px;
  display: inline-block;
  align-items: center;
  width: 70%;
  background: transparent;
  border: 1.15px solid#004973;
  transition: color 0.5s, border-color 0.5s;
}
.button.buttonForm.is-outlined {
  border-color: #004973;
  color: #000000;
}
.button.buttonForm.is-outlined:hover {
  border-color: #004973;
  background-color: #004973;
  color: white;
}

.buttonEditConfig {
  cursor: pointer;
  font-family: 'Alegreya', serif;
  border-radius: 0.1rem;
  margin-top: 10px;
  display: inline-block;
  align-items: center;
  width: 40%;
  background: transparent;
  border: 1.15px solid#004973;
  transition: color 0.5s, border-color 0.5s;
}
.buttonInterest {
  cursor: pointer;
  font-family: 'Alegreya', serif;
  border-radius: 0.1rem;
  margin: 5px 0px 0px 0px;
  display: inline-block;
  align-items: center;
  width: 100%;
  background: transparent;
  border: 1.15px solid#004973;
  transition: color 0.5s, border-color 0.5s;
}
.buttonNotInterest {
  cursor: pointer;
  font-family: 'Alegreya', serif;
  border-radius: 0.1rem;
  display: inline-block;
  margin: 5px 0px 0px 0px;
  align-items: center;
  width: 100%;
  background: transparent;
  border: 1.15px solid#004973;
  transition: color 0.5s, border-color 0.5s;
}
.buttonDiscussion {
  cursor: pointer;
  font-family: 'Alegreya', serif;
  border-radius: 0.1rem;
  margin: 5px 0px 0px 0px;
  display: inline-block;
  align-items: center;
  width: 100%;
  background: transparent;
  border: 1.15px solid#004973;
  transition: color 0.5s, border-color 0.5s;
}

.buttonProfileView {
  border-radius: 1px;
  border-color: #004973;
  color: #004973;
}
.buttonProfileEdit {
  border-radius: 1px;
  border-color: #004973;
  color: #00a82d;
}
.buttonProfileUpload {
  border-radius: 1px;
  border-color: #004973;
  color: #2199e8;
}
.buttonProfileDelete {
  border-radius: 1px;
  border-color: #004973;
  color: #ec2028;
}

.buttonLanding {
  cursor: pointer;
  font-family: 'Alegreya', serif;
  border-radius: 1px;
  margin-top: 2rem;
  display: block;
  width: 50%;
  margin-left: 140px;
  margin-right: 60px;
  color: #363636;
  border: 1.15px solid #004973;
  transition: color 0.5s, border-color 0.5s;
}
.button.buttonLanding.is-outlined {
  border-color: #004973;
  color: #000000;
}
.button.buttonLanding.is-outlined:hover {
  border-color: #004973;
  background-color: #004973;
  color: white;
}
.button.buttonGenerateUser.is-outlined {
  border-color: #004973;
  color: #000000;
}
.button.buttonGenerateUser.is-outlined:hover {
  border-color: #004973;
  background-color: #004973;
  color: white;
}
.button.buttonAddDueFee.is-outlined {
  border-color: #004973;
  color: #000000;
}
.button.buttonAddDueFee.is-outlined:hover {
  border-color: #004973;
  background-color: #004973;
  color: white;
}
.button.buttonCardHeader.is-outlined {
  border-color: #004973;
  color: #000000;
}
.button.buttonCardHeader.is-outlined:hover {
  border-color: #004973;
  background-color: #004973;
  color: white;
}

.buttonInformation {
  cursor: pointer;
  font-family: 'Alegreya', serif;
  border-radius: 1px;
  margin-top: 1rem;
  display: inline-block;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  color: #363636;
  border: 1.15px solid #004973;
  transition: color 0.5s, border-color 0.5s;
}
.button.buttonInformation.is-outlined {
  border-color: #004973;
  color: #000000;
}
.button.buttonInformation.is-outlined:hover {
  border-color: #004973;
  background-color: #004973;
  color: white;
}
.buttonGenerateUser {
  cursor: pointer;
  font-family: 'Alegreya', serif;
  border-radius: 1px;
  margin-top: 2rem;
  display: block;
  width: 50%;
  margin-left: 165px;
  margin-right: 0px;
  color: #363636;
  border: 1.15px solid #004973;
  transition: color 0.5s, border-color 0.5s;
}
.buttonAddDueFee {
  cursor: pointer;
  font-family: 'Alegreya', serif;
  border-radius: 1px;
  margin-top: 2rem;
  display: block;
  width: 50%;
  margin-left: 165px;
  margin-right: 0px;
  color: #363636;
  border: 1.15px solid #004973;
  transition: color 0.5s, border-color 0.5s;
}

.scrollbar {
  background-color: #f5f5f5;
  float: left;
  height: 200px;
  margin-bottom: 25px;
  margin-left: 22px;
  margin-top: 40px;
  width: 65px;
  overflow-y: scroll;
}

.force-overflow {
  min-height: 450px;
}
#style-1::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
#style-1::-webkit-scrollbar-thumb {
  background-color: #000000;
}
#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
.buttonStyle {
  padding: 1rem;
  margin: auto;
  display: inline;
  text-decoration: underline;
}

.card-footer-item {
  border: 1.15px solid #004973;
  padding: 0.45rem;
}

.content figure:not(:last-child) {
  margin-bottom: 1em;
}
.content figure {
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

a {
  color: #363636;
}
a:hover {
  color: #363636;
}

.image img {
  width: 100%;
  height: auto;
  padding: 0;
}

.menu-list a {
  padding: 0.65rem 0.75rem;
  /*border-bottom: 0.4px solid #fff;*/
}

.staff_container {
  width: 100%;
}
.staff_card_block {
  float: left;
  width: 32.5%;
  margin: 10px 5px 10px 0px;
}
.center_spinner {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.menu-list a:hover {
  background: none;
}
.navFont {
  font-family: 'Alegreya', serif;
}
.Logo {
  width: 160px;
  height: 0px;
  margin: 0px;
}
.iconStyle {
  background: hsl(0, 0%, 96%);
  padding: 10px;
  border-radius: 50%;
}

.headerDivider {
  padding: 0.4em 0.75em;
  border-left: 1px solid hsl(0, 0%, 76%);
  border-width: thin;
  top: 10px;
}

.box-shadow-y {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.py-1,
.p-1 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.my-1 {
  margin-top: 0.75rem;
}

.px-1,
.p-1 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mx-1 {
  margin-left: 12.7rem;
}

.icon {
  height: 30px;
  width: 30px;
  vertical-align: baseline;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.menu-container {
  position: fixed;
  bottom: 0;
  margin: auto;
  min-width: 300px;
  z-index: 10;
  background-color: transparent;
  transform: translateX(-100%);
  transition: ease-in 0.5s;
}

.toggler {
  margin-left: 0;
  cursor: pointer;
}

.menu-container.active {
  transform: translateX(0%);
}

@media (min-width: 769px) {
  .menu-container {
    width: 25%;
    min-width: auto;
    transform: translateX(0%);
  }
}

@media (min-width: 1024px) {
  .menu-container {
    width: 16.6667%;
    min-width: auto;
    transform: translateX(0%);
  }
}

.form {
  left: 1rem;
}
